<div>

  <div class="headerParentContainer">

    <h2 class="headerLogo" [routerLink]="['']">ICFDJ</h2>

    <div class="buttonContainer" *ngIf="user && user.uid === null">

      <button class="btn" style="margin-right: 0.5em" [routerLink]="['/sign-in']">
        Sign In
      </button>

      <button class="btn btn-primary" [routerLink]="['/sign-up']">
        Sign Up
      </button>

    </div>

    <div *ngIf="
        user != undefined &&
        user != null &&
        user.uid != undefined &&
        user.uid != null
      " class="buttonContainer">

      <p class="userMessage">Welcome, {{ user.firstName }}</p>

      <button class="btn btn-primary" (click)="signOut()">Sign Out</button>

    </div>
  </div>
</div>
