<div class="signUpContainer">
  <h2>Sign Up</h2>
  <form (ngSubmit)="onSubmit(form)" #form="ngForm" class="signUpForm">
    <label for="first name" class="formInputLabel">First Name</label>
    <input type="text" name="first name" ngModel required class="formInput" autocomplete="given-name"/>

    <label for="last name"  class="formInputLabel">Last Name</label>
    <input type="text" name="last name" ngModel required class="formInput" autocomplete="family-name" />

    <label for="email" class="formInputLabel">Email</label>
    <input type="email" name="email" ngModel required email class="formInput" autocomplete="email" />

    <label for="password" class="formInputLabel" >Password</label>
    <input name="password" type="password" ngModel required class="formInput" autocomplete = "new-password" />

    <button type="submit" class="btn btn-primary" class="submitButton">
      Submit
    </button>
  </form>
</div>
