<div class="mainJokeContainer">
  <button style="margin-right: .5em;" class="btn btn-primary" (click)="onToggleSidebar()">Favorites</button>
  <button class="btn btn-primary" (click)="getJoke()">Get Joke</button>
</div>
<div *ngIf="joke">
  <p class="jokeOutput">
    {{ joke.joke }}
  </p>
  <button class="btn btn-primary" (click)="favoriteJoke()">
    Add to favorites
  </button>
  <div>
    <p *ngIf="jokeAdded" style="margin-top: .25em;" class="userResponse"> Joke added to favorites!</p>
    <p *ngIf="alreadyAdded" class="userResponse" style="margin-top: .25em;">Already added!</p>
  </div>
</div>
