<div class="flex" style="width: 100%">
  <div
    style="overflow: hidden; background-color: 'white'; border-right: '1px solid black' "
    [ngStyle]="
      sidebarOpen
        ? { width: '50%', transition: '0.5s'}
        : { width: '0', transition: '0.5s' }
    "
  >
    <div *ngIf="sidebar" style="position: relative; width: 24vw; display: flex">
      <app-joke-sidebar style="float: left"> </app-joke-sidebar>
    </div>
  </div>
  <!-- <div
    [ngStyle]="
  sidebarOpen
    ? { 'max-width': '50vw', 'padding-left': '1em'} : {}" -->
  <!-- > -->
    <app-joke-main [ngStyle]="
    sidebarOpen
      ? { 'max-width': '50%', 'padding-left': '1em'} : {}"></app-joke-main>
  </div>
<!-- </div> -->
